In [170]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [171]:
d = pd.read_csv("D:\hamoye\Data_for_UCI_named.csv")

In [172]:
d.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [173]:
d= d.drop(['stab'], axis = 1)
d.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [174]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stabf   10000 non-null  object
dtypes: float64(12), object(1)
memory usage: 1015.8+ KB

In [175]:
d.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stabf    0
dtype: int64

In [176]:
d['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [177]:
#d['stabf'].replace({"stable": "1", "unstable" : "0"}, inplace=True)
#d
from sklearn.preprocessing import LabelEncoder
load = LabelEncoder()
labels = load.fit_transform(d.stabf)
d['target'] = labels
d.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf,target
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable,1
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable,0
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable,1
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable,1
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable,1

In [178]:
d = d.drop(['stabf'], axis="columns")
d

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,target
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,1
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,0
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,1
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,1
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,1
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,0
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,0
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,1
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,1

In [179]:
x = d.drop('target', axis=1)
y = d['target']

In [180]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.1, random_state = 1)

In [181]:
from sklearn.preprocessing import StandardScaler
s= StandardScaler()

x_train_new = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
x_test_new = pd.DataFrame(scaler.transform(x_test), columns = x_test.columns)

In [182]:
#pip install lightgbm

In [183]:
import warnings
warnings.filterwarnings('ignore')
from sklearn import svm, tree, linear_model, neighbors, ensemble
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, classification_report
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

In [194]:
forest = RandomForestClassifier(random_state = 1)
forest.fit(x_train_new, y_train)
pred1 = forest.predict(x_test_new)
print('Accuracy: {}'.format(round(accuracy_score(y_test, pred1), 4)))

Accuracy: 0.927

In [185]:
xgb = XGBClassifier(random_state = 1, learning_rate = 0.1, max_depth = 3)
xgb.fit(x_train_new, y_train)
pred3 = xgb.predict(x_test_new)
print('Accuracy: {}'.format(round(accuracy_score(y_test, pred3), 4)))

Accuracy: 0.919

In [186]:
lgbm = LGBMClassifier(random_state = 1)
lgbm.fit(x_train_new, y_train)
pred4 = lgbm.predict(x_test_new)
print('Accuracy: {}'.format(round(accuracy_score(y_test, pred4), 4)))

Accuracy: 0.941

In [187]:
tree = ExtraTreesClassifier(random_state = 1)
tree.fit(x_train_new, y_train)
pred2 = tree.predict(x_test_new)
print('Accuracy: {}'.format(accuracy_score(y_test, pred2)))

Accuracy: 0.933

In [188]:
n_estimators = [50, 100, 300, 500, 1000]

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None] 

hyperparameter_grid = {'n_estimators': n_estimators,

                       'min_samples_leaf': min_samples_leaf,

                       'min_samples_split': min_samples_split,

                       'max_features': max_features}

In [190]:
from sklearn.model_selection import RandomizedSearchCV
rsv = RandomizedSearchCV(tree, hyperparameter_grid, cv=5, n_iter = 10, scoring = 'accuracy', n_jobs = -1, verbose = 1, random_state = 1)
search = rsv.fit(x_train_new, y_train)
search.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

{'n_estimators': 1000,
 'min_samples_split': 2,
 'min_samples_leaf': 8,
 'max_features': None}

In [191]:
tree = ExtraTreesClassifier(**search.best_params_, random_state = 1)
tree.fit(x_train_new, y_train)
pred5 = tree.predict(x_test_new)
print('Accuracy: {}'.format(accuracy_score(y_test, pred5)))

Accuracy: 0.927

In [195]:
def fun(model, feat, col_name):
  #this function returns the importance of every feature
  i = pd.Series(model.feature_importances_, feat.columns).sort_values()
  i_df = pd.DataFrame(i).reset_index()
  i_df.columns = ['Features', col_name]
  i_df[col_name].round(3)
  return i_df

In [196]:
feature_importance = fun(tree, x_train_new, 'Feature_Importance')
feature_importance

   Features  Feature_Importance
0        p1            0.003566
1        p4            0.004939
2        p3            0.005212
3        p2            0.005667
4        g4            0.105206
5        g2            0.105249
6        g1            0.106063
7        g3            0.114165
8      tau4            0.134895
9      tau3            0.136495
10     tau1            0.139072
11     tau2            0.139471